{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="page-segments">
  <ul class="page-segments-list">
    {%- for key in keys -%}
    {%- assign label = key -%}
    {%- if key == 'programmers' -%}
      {%- assign label = 'Programmers' -%}
    {%- endif -%}
    <li class="page-segment">
      <h2 id="{{ key | escape }}" class="segment-name">{{ label }}</h2>
      <ul class="page-segment-posts" aria-label="{{ label | escape }} 글 목록">
        {%- assign items = site.posts | where: field, key -%}
        {%- for item in items -%}
        <li>{% include views/post-item.html %}</li>
        {%- endfor -%}
      </ul>
    </li>
    {%- endfor -%}
  </ul>
</div>
